.bmi{
    padding: 10rem;
    height: 100vh;
    color: white;
    background-color: rgb(30, 30, 30);
   
    display: block;
}

label{
    font-size: 30px;
}

input{
    padding: 5px;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
}

.btn{
    display: block;
    border-radius: 20px;
}