.home{
    text-align: center;
    justify-content: center;
    
}
    
button{
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 50%;
    font-size: 20px;
    border: none;   
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}